body {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Center with Position */
.position {
    height: 400px;
    width: 400px;
    background-color: blue;
    margin: 0 auto;
    position: relative;
}

.inner-position-div {
    height: 200px;
    width: 200px;
    background-color: white;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Center with Floxbox */
.flex {
    height: 400px;
    width: 400px;
    background-color: green;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-flex-div {
    height: 200px;
    width: 200px;
    background-color: white;
}

/* Center with Grid */
.grid {
    height: 400px;
    width: 400px;
    background-color: yellow;
    margin: 0 auto;
    display: grid;
}

.inner-grid-div {
    height: 200px;
    width: 200px;
    background-color: white;
    justify-self: center;
    align-self: center;
}
